[package]
name = "xcb"
version = "0.7.7"
authors = [ "Remi Thebault <remi.thebault@gmail.com>" ]
description = "Rust bindings and wrappers for XCB"
repository = "https://github.com/rtbo/rust-xcb"
documentation = "http://rtbo.github.io/rust-xcb/xcb/"
readme = "README.md"
keywords = ["xcb", "window", "xlib", "x11", "opengl"]
license = "MIT"
exclude = [ "examples/*", "scripts/*" ]
build = "build.rs"

[build-dependencies]
libc = "0.2"

[dependencies]
libc = "0.2"
log = "0.3"

[dependencies.x11]
version = "2.3"
optional = true
features = ["xlib"]

[features]
xlib_xcb = ["x11/xlib"]
thread = []

composite = [ "xfixes" ]
damage = [ "xfixes" ]
dpms = []
dri2 = []
dri3 = []
ge = []
glx = []
present = [ "render", "xfixes", "sync" ]
randr = [ "render" ]
record = []
render = []
res = []
screensaver = []
shape = []
shm = []
sync = []
xevie = []
xf86dri = []
xf86vidmode = []
xfixes = [ "render", "shape" ]
xinerama = []
xinput = [ "xfixes" ]
xkb = []
xprint = []
xselinux = []
xtest = []
xvmc = [ "xv" ]
xv = [ "shm" ]

# ge and xf86vidmode are apparently nor built neither installed by libxcb C project
# extension xinput is broken
# all others are in debug_all whose purpose is to check build of extensions
debug_all = [ "thread", "composite", "damage", "dpms", "dri2", "dri3",
        "glx", "randr", "record", "render", "res", "screensaver", "shape",
        "shm", "xevie", "xf86dri", "xfixes", "xinerama", "xkb",
        "xprint", "xselinux", "xtest", "xvmc", "xv", "xlib_xcb" ]



# cargo does not seam to support example.features yet.
# That is addressed in cargo/#1570
#[[example]]
#name = "randr_crtc_info"
#features = "randr"
