on: [push, pull_request]

name: Continuous Integration

jobs:
  check:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            libgl1-mesa-dev \
            libx11-xcb-dev

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features all-extensions,xlib_xcb

      - name: Run cargo test (dl)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features all-extensions,xlib_xcb_dl

      - name: Run cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all-features
